$color-primary: #3377e8;
$color-danger: #ff4855;
$color-success: #299d08;
$color-info: #30a2d7;
$color-bg: #262B35;
$color-bg-light: #434853;
$color-bg-dark: #343944;
$color-bg-entry: #343944;
$color-border: #666;
$color-text: #65a0ff;
$color-text-alter: rgb(255, 133, 100);
$color-text-major: #FFF;
$color-text-minor: rgba(255, 255, 255, 0.6);
$color-border: rgba(255, 255, 255, 0.15);