.asset {
  // flex: 1;
  background: rgba(0,0,0,0.2);
  border-radius: 16px;
  width: 48%;
  padding: 10px 14px;
  display: flex;
  margin: 0 10px 10px 0;
  .icon {
    margin-right: 14px;
    img {
      width: 48px;
      height: 48px;
      border-radius: 99em;
    }
  }
  .balance {
    flex: 3;
    text-align: right;
    flex-direction: column;
    justify-content: center;
    display: flex;
    font-family: 'Roboto-Mono-Regular', 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
  }
  .body {
    display: flex;
    flex-direction: column;
    flex: 7;
    justify-content: center;
    align-items: flex-start;
    .symbol {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 4px;
    }
    .name {
      opacity: 0.6;
    }
  }
}
