@import "../mixins";
@import "../variables";

.button {
  border-radius: 99em;
  background: $color-primary;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  color: white;
  padding: 6px 20px;
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  display: inline-block;
  white-space: nowrap;
}
.button.alt {
  background: transparent;
  border: 1px solid white;
  color: white;
}
