@import "../variables";
@import "../mixins";

.pane {
  /* Rectangle 4: */
  padding: 10px;
  background-image: linear-gradient(-158deg, $color-bg-dark 0%, $color-bg-light 96%);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.30);
  border-radius: 4px;
  margin-bottom: 10px;
  .pane-title {
    /* CHOOSE A NUMBER: */
    opacity: 0.5;
    font-family: 'Roboto-Bold', 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: -0.27px;
  }
}